.theplug, html, body {
  height: 100%;
  background: $off-white;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

* {
//  transition: all ease .3s;
}