.theplug {
  &.menu-open {
    padding-left: 320px;
    .sidebar {
      transform: translateX(0) translateZ(0);
    }
  }
  .sidebar {
    width: 320px;
    border-right: solid 1px $primary-border-color;
    background: #fff;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateX(-100%) translateZ(0);
    transition: all ease-in-out .3s;
    .header {
      height: 50px;
      background: $plug-brand;
      text-align: center;
      line-height: 50px;
      color: #fff;
      font-weight: 500;
      font-size: 18px;
      position: relative;
      i {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 30px;
        font-size: 30px;
        cursor: pointer;
      }
    }
    ul.content-container {
      height: calc(100% - 75px);
      overflow-y: auto;
      list-style: none;
      padding: 0;
      li {
        height: 95px;
        position: relative;
        padding-left: 65px;
        font-size: 18px;
        cursor: pointer;
        &.category {
          height: 57px !important;
          padding-bottom: 0;
          a {
            padding-top: 10px;
          }
          &:before {
            bottom: 11px;
          }
        }
        &:hover, &.active {
          background: $gray-light;
        }
        span {
          position: relative;
          display: block;
          span {
            display: -webkit-box;
            height: 42px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow-y: hidden;
            text-overflow: ellipsis;
            overflow-x: visible;
            font-family: Quattrocento, serif;
          }
        }
        i {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 17px;
          text-align: center;
          width: 64px;
          color: $gray-brand;
          left: -65px;
        }
        &:before {
          content: attr(data-date);
          position: absolute;
          bottom: 19px;
          font-size: 13px;
          left: 65px;
          color: #bcc1c4;
        }
        a {
          color: $text-gray;
          display: block;
          width: 100%;
          height: 100%;
          border-bottom: $primary-border-color solid 1px;
          text-decoration: none;
          font-weight: 500;
          padding-right: 25px;
          line-height: 21px;
          padding-top: 15px;
        }
      }
    }
    ul.sidebar-nav {
      height: 50px;
      border-top: solid 1px $primary-border-color;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;
      list-style: none;
      background: $white;
      margin: 0;
      li {
        float: left;
        width: 33%;
        text-align: center;
        cursor: pointer;
        height: 100%;
        font-size: 12px;
        padding-top: 5px;
        color: $gray-brand;
        transition: ease-in-out all .3s;
        &.active {
          color: $plug-brand;
        }
        &:before {
          display: block;
          font-size: 30px;
        }
      }
    }
  }
}