<template name="home">
    <div class="main-content-container">
        <div class="wrapper">
            <div class="content-container">
                <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto beatae consectetur eaque esse id labore, laborum molestias perferendis possimus, praesentium qui quo rem rerum ullam vel veniam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consectetur dignissimos eius eos eveniet excepturi explicabo harum illum, in ipsum neque quasi quidem reiciendis repudiandae similique totam unde voluptates!
                </p>
            </div>
        </div>
    </div>
</template>